spring:
  application:
    name: notification-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME:oficina.fiap@gmail.com}
    password: ${EMAIL_PASSWORD:senha-app}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
    test-connection: false

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8

server:
  port: 8087

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
    # Novas configurações para otimizar startup
    registry-fetch-interval-seconds: 5
    eureka-server-connect-timeout-seconds: 5
    eureka-server-read-timeout-seconds: 5
    eureka-service-url-poll-interval-seconds: 30
    initial-instance-info-replication-interval-seconds: 10
  instance:
    prefer-ip-address: true
    # Reduzir intervalos de heartbeat
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30
    # Registrar mais rápido
    instance-id: ${spring.application.name}:${server.port}

app:
  notification:
    email:
      sender: oficina.fiap@gmail.com

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    br.com.fiap.oficina.notification: DEBUG
