apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: oficina
  labels:
    app: notification-service
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - name: http
      port: 8087
      targetPort: 8087
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: oficina
  labels:
    app: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: grecomilani/oficina-notification-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8087
              name: http
          env:
            - name: SPRING_PROFILES_ACTIVE
              valueFrom:
                configMapKeyRef:
                  name: oficina-shared-config
                  key: SPRING_PROFILES_ACTIVE
            - name: EUREKA_URL
              valueFrom:
                configMapKeyRef:
                  name: oficina-shared-config
                  key: EUREKA_URL
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: oficina-shared-config
                  key: SERVER_PORT_NOTIFICATION
            - name: EMAIL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: notification-service-secrets
                  key: EMAIL_USERNAME
            - name: EMAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: notification-service-secrets
                  key: EMAIL_PASSWORD
            - name: EMAIL_SENDER
              valueFrom:
                secretKeyRef:
                  name: notification-service-secrets
                  key: EMAIL_SENDER
            - name: MAIL_HOST
              valueFrom:
                secretKeyRef:
                  name: notification-service-secrets
                  key: MAIL_HOST
            - name: MAIL_PORT
              valueFrom:
                secretKeyRef:
                  name: notification-service-secrets
                  key: MAIL_PORT
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: http
            initialDelaySeconds: 60
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
