kind: "DatadogAgent"
apiVersion: "datadoghq.com/v2alpha1"
metadata:
  name: "datadog"
  namespace: "datadog-agent"
spec:
  global:
    clusterName: "eks-fiap-oficina-mecanica"
    site: "us5.datadoghq.com"
    credentials:
      apiSecret:
        secretName: "datadog"
        keyName: "api-key"
    tags:
      - "env:dev"
  features:
    clusterChecks:
      enabled: true
    orchestratorExplorer:
      enabled: true
    apm:
      instrumentation:
        enabled: true
        targets:
          - name: "java-only"
            ddTraceVersions:
              java: "1"
        disabledLanguages:
          - python
          - js
          - php
          - dotnet
          - ruby
    logCollection:
      enabled: true
      containerCollectAll: true
    otelCollector:
      enabled: true
      ports:
        - containerPort: 4317
          hostPort: 4317
          name: "otel-grpc"
        - containerPort: 4318
          hostPort: 4318
          name: "otel-http"
