apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Database
  - postgres.yaml

  # Service Registry
  - eureka-server.yaml
  - eureka-nlb-service.yaml

  # Microservices
  - auth-service.yaml
  - customer-service.yaml
  - catalog-service.yaml
  - inventory-service.yaml
  - budget-service.yaml
  - work-order-service.yaml
  - notification-service.yaml

  # Shared Configuration
  - configmap-shared.yaml

  # Horizontal Pod Autoscalers
  - hpa.yaml
