name: CD - Deploy

on:
  push:
    branches: [main, develop]

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
   terraform:
    name: Deploy to Dev
    uses: ./.github/workflows/_reusable-terraform.yml
    if: github.ref == 'refs/heads/develop'
    with:
      enviroment: "dev"
      workspace: "dev"
      working_directory: "infra"
      auto_apply: true
      tfvars_file: "environments/dev.tfvars"
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      DATADOG_API_KEY: ${{ secrets.DATADOG_API_KEY }}
      DATADOG_APP_KEY: ${{ secrets.DATADOG_APP_KEY }}

   terraform-prod:
    name: Deploy to Prod
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/_reusable-terraform.yml
    with:
      environment: "prod"
      workspace: "prod"
      working_directory: "infra"
      auto_apply: true
      tfvars_file: "environments/prod.tfvars"
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      DATADOG_API_KEY: ${{ secrets.DATADOG_API_KEY }}
      DATADOG_APP_KEY: ${{ secrets.DATADOG_APP_KEY }}