name: CD - Deploy

on:
  push:
    branches: [main, develop]

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
   terraform:
    name: CI - Infra
    uses: ./.github/workflows/_reusable-ci-terraform.yml
    with:
      working_directory: "infra"
      auto_apply: true
      tfvars_file: "environments/${{ github.ref == 'refs/heads/develop' && 'dev' || 'prod' }}.tfvars"
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      DD_API_KEY: ${{ secrets.DD_API_KEY }}